openapi: 3.0.0
info:
  title: Reserva de Salas
  version: 1.0.0
  description: API para reserva de salas
servers:
  - url: https://api.sistemareserva.com/v1
paths:

  /Users/Registar:
    post:
      summary: Registo de um novo Utilizador
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registro'
      responses:
        '201':
          description: Utilizador criado com sucesso
        '400':
          description: Requisição inválida

  /Users/Login:
    post:
      summary: Login de Utilizador
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: Login bem-sucedido
        '401':
          description: Dados inválidas

  /Users/Recuperar-password:
    post:
      summary: Recuperar a password através do email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecuperarPassword'
      responses:
        '200':
          description: E-mail de recuperação enviado
        '404':
          description: Utilizador não encontrado

  /Reservas/Reservar:
    post:
      summary: Adicionar uma nova reserva
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reservar'
      responses:
        '201':
          description: Reserva criada com sucesso
        '409':
          description: Conflito de horário - reserva já existente

  /Reservas/ConsultaSalaData:
    get:
      summary: Consulta de reservas por sala e data
      parameters:
        - name: room_id
          in: query
          required: true
          schema:
            type: string
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Lista de reservas

  /Reservas/ConsultaUser:
    get:
      summary: Consulta de reservas do utilizador
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Lista de reservas do Utilizador

  /Reservas/EditarReservas/{reservation_id}:
    put:
      summary: Editar uma reserva
      parameters:
        - name: reservation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditarReservas'
      responses:
        '200':
          description: Reserva atualizada com sucesso
        '404':
          description: Reserva não encontrada
        '409':
          description: Conflito de horário - reserva já existente

 
  /Reservas/CancelarReserva/{reservation_id}:
    delete:
      summary: Cancelamento de uma reserva
      parameters:
        - name: reservation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Reserva cancelada com sucesso
        '404':
          description: Reserva não encontrada


  /Salas/NovaSala:
    post:
      summary: Criação de uma nova sala
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NovaSala'
      responses:
        '201':
          description: Sala criada com sucesso
        '400':
          description: Requisição inválida


  /Salas/EditarSala/{room_id}:
    put:
      summary: Editar uma sala
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditarSala'
      responses:
        '200':
          description: Sala editada com sucesso
        '404':
          description: Sala não encontrada

 
  /Salas/RemoverSala/{room_id}:
    delete:
      summary: Remover de uma sala
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Sala removida com sucesso
        '404':
          description: Sala não encontrada

components:
  schemas:
    Registro:
      type: object
      properties:
        username:
          type: string
          minLength: 3
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
      required:
        - username
        - email
        - password

    Login:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
      required:
        - email
        - password

    RecuperarPassword:
      type: object
      properties:
        email:
          type: string
          format: email
      required:
        - email

    Reservar:
      type: object
      properties:
        room_id:
          type: string
        user_id:
          type: string
        date:
          type: string
          format: date
        start_time:
          type: string
          pattern: "^([01]?[0-9]|2[0-3]):[0-5][0-9]$"
        end_time:
          type: string
          pattern: "^([01]?[0-9]|2[0-3]):[0-5][0-9]$"
        description:
          type: string
          maxLength: 255
      required:
        - room_id
        - user_id
        - date
        - start_time
        - end_time

    EditarReservas:
      type: object
      properties:
        room_id:
          type: string
        date:
          type: string
          format: date
        start_time:
          type: string
          pattern: "^([01]?[0-9]|2[0-3]):[0-5][0-9]$"
        end_time:
          type: string
          pattern: "^([01]?[0-9]|2[0-3]):[0-5][0-9]$"
        description:
          type: string
          maxLength: 255
      required:
        - room_id
        - date
        - start_time
        - end_time

    NovaSala:
      type: object
      properties:
        room_name:
          type: string
          minLength: 1
        capacity:
          type: integer
          minimum: 1
        equipment:
          type: array
          items:
            type: string
      required:
        - room_name
        - capacity

    EditarSala:
      type: object
      properties:
        room_name:
          type: string
        capacity:
          type: integer
          minimum: 1
        equipment:
          type: array
          items:
            type: string
      required:
        - room_name
        - capacity

    RemoverSala:
      type: object
      properties:
        room_id:
          type: string
      required:
        - room_id